html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    font-size: 13.5px;
    margin-top: 13px;
}

.spacer {
    flex: 1;
}

.links {
    margin: 8px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.links:hover {
    text-decoration: underline;
}

.main {
    text-align: center;
    padding-bottom: 150px;
}

.logo {
    display: block;
    font-size: 90px;
    font-family: Futura, sans-serif;
    letter-spacing: -.04em;
    padding: 30px;
    margin: 0;
}

.blue {
    color: #4285F4;
}

.green {
    color: #34A853;
}

.yellow {
    color: #FBBC05;
}

.red {
    color: #EA4335;
}

.input {
    margin-left: auto;
    margin-right: auto;
    width: 72%;
    height: 3em;
    margin-bottom: 25px;
    box-shadow: 1px 2px 1px -1px #D9DFE0;
    -webkit-appearance: none;
    border: .5px solid #D9DFE0;
    border-radius: 1.5px;
    font-size: 14px;
}

.input:hover {
    box-shadow: 1px 2px 1px .5px #D9DFE0;
}

.buttons {
    background-color: #F2F2F2;
    color: #757575;
    padding: 9px 18px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    font-size: 13.5px;
    margin: 2px;
    border: 1px solid white;
}

.buttons:hover {
    color: #000;
    border: 1px solid #757575;
}
.foot {
    display: flex;
    background-color: #F2F2F2;
    color: #666;
    font-size: 13.5px;
    padding: 6.2px;
}
